body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: white;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
